=begin
#dlpapi

#Easily and directly scan and detect sensitive data (PII) in input text.

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.14

=end

require 'uri'

module CloudmersiveDlpApiClient
  class DetectApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Detect User Data in Audio File
    # Transcribes an audio file (WAV, MP3, M4A, FLAC, OGG, WMA) and detects 23 configurable types of user data in the transcript using Advanced AI. Returns the full transcript, token timestamps, and detection results.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpAudioDetectionRequest] :body Input request
    # @return [DlpAudioDetectionResponse]
    def detect_audio(opts = {})
      data, _status_code, _headers = detect_audio_with_http_info(opts)
      data
    end

    # Detect User Data in Audio File
    # Transcribes an audio file (WAV, MP3, M4A, FLAC, OGG, WMA) and detects 23 configurable types of user data in the transcript using Advanced AI. Returns the full transcript, token timestamps, and detection results.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpAudioDetectionRequest] :body Input request
    # @return [Array<(DlpAudioDetectionResponse, Fixnum, Hash)>] DlpAudioDetectionResponse data, response status code and response headers
    def detect_audio_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DetectApi.detect_audio ...'
      end
      # resource path
      local_var_path = '/dlp/detect/audio'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DlpAudioDetectionResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DetectApi#detect_audio\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Detect User Data in Audio File (Advanced)
    # Transcribes an audio file (WAV, MP3, M4A, FLAC, OGG, WMA) and detects 29 configurable types of user data including health-related PHI in the transcript using Advanced AI. Returns the full transcript, token timestamps, detection results, and optional rationale.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpAdvancedAudioDetectionRequest] :body Input request
    # @return [DlpAdvancedAudioDetectionResponse]
    def detect_audio_advanced(opts = {})
      data, _status_code, _headers = detect_audio_advanced_with_http_info(opts)
      data
    end

    # Detect User Data in Audio File (Advanced)
    # Transcribes an audio file (WAV, MP3, M4A, FLAC, OGG, WMA) and detects 29 configurable types of user data including health-related PHI in the transcript using Advanced AI. Returns the full transcript, token timestamps, detection results, and optional rationale.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpAdvancedAudioDetectionRequest] :body Input request
    # @return [Array<(DlpAdvancedAudioDetectionResponse, Fixnum, Hash)>] DlpAdvancedAudioDetectionResponse data, response status code and response headers
    def detect_audio_advanced_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DetectApi.detect_audio_advanced ...'
      end
      # resource path
      local_var_path = '/dlp/detect/audio/advanced'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DlpAdvancedAudioDetectionResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DetectApi#detect_audio_advanced\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Detect User Data in Document Image
    # Detects configurable types of user data in a document (PDF, DOC, DOCX, XLS, XLSX, PPT, PPTX, HTML, EML, MSG, PNG, JPG, WEBP) using Advanced AI.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpDocumentDetectionRequest] :body Input request
    # @return [DlpDetectionResponse]
    def detect_document(opts = {})
      data, _status_code, _headers = detect_document_with_http_info(opts)
      data
    end

    # Detect User Data in Document Image
    # Detects configurable types of user data in a document (PDF, DOC, DOCX, XLS, XLSX, PPT, PPTX, HTML, EML, MSG, PNG, JPG, WEBP) using Advanced AI.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpDocumentDetectionRequest] :body Input request
    # @return [Array<(DlpDetectionResponse, Fixnum, Hash)>] DlpDetectionResponse data, response status code and response headers
    def detect_document_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DetectApi.detect_document ...'
      end
      # resource path
      local_var_path = '/dlp/detect/document'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DlpDetectionResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DetectApi#detect_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Detect User Data in Document Image (Advanced)
    # Detects 29 configurable types of user data including health-related PHI in a document (PDF, DOC, DOCX, XLS, XLSX, PPT, PPTX, HTML, EML, MSG, PNG, JPG, WEBP) using Advanced AI.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpAdvancedDocumentDetectionRequest] :body Input request
    # @return [DlpAdvancedDetectionResponse]
    def detect_document_advanced(opts = {})
      data, _status_code, _headers = detect_document_advanced_with_http_info(opts)
      data
    end

    # Detect User Data in Document Image (Advanced)
    # Detects 29 configurable types of user data including health-related PHI in a document (PDF, DOC, DOCX, XLS, XLSX, PPT, PPTX, HTML, EML, MSG, PNG, JPG, WEBP) using Advanced AI.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpAdvancedDocumentDetectionRequest] :body Input request
    # @return [Array<(DlpAdvancedDetectionResponse, Fixnum, Hash)>] DlpAdvancedDetectionResponse data, response status code and response headers
    def detect_document_advanced_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DetectApi.detect_document_advanced ...'
      end
      # resource path
      local_var_path = '/dlp/detect/document/advanced'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DlpAdvancedDetectionResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DetectApi#detect_document_advanced\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Detect User Data in Input Text
    # Detects configurable types of user data in an input text string using Advanced AI.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpDetectionRequest] :body Input request
    # @return [DlpDetectionResponse]
    def detect_text(opts = {})
      data, _status_code, _headers = detect_text_with_http_info(opts)
      data
    end

    # Detect User Data in Input Text
    # Detects configurable types of user data in an input text string using Advanced AI.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpDetectionRequest] :body Input request
    # @return [Array<(DlpDetectionResponse, Fixnum, Hash)>] DlpDetectionResponse data, response status code and response headers
    def detect_text_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DetectApi.detect_text ...'
      end
      # resource path
      local_var_path = '/dlp/detect/text'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DlpDetectionResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DetectApi#detect_text\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Detect User Data in Input Text (Advanced)
    # Detects 29 configurable types of user data including health-related PHI in an input text string using Advanced AI.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpAdvancedDetectionRequest] :body Input request
    # @return [DlpAdvancedDetectionResponse]
    def detect_text_advanced(opts = {})
      data, _status_code, _headers = detect_text_advanced_with_http_info(opts)
      data
    end

    # Detect User Data in Input Text (Advanced)
    # Detects 29 configurable types of user data including health-related PHI in an input text string using Advanced AI.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpAdvancedDetectionRequest] :body Input request
    # @return [Array<(DlpAdvancedDetectionResponse, Fixnum, Hash)>] DlpAdvancedDetectionResponse data, response status code and response headers
    def detect_text_advanced_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DetectApi.detect_text_advanced ...'
      end
      # resource path
      local_var_path = '/dlp/detect/text/advanced'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DlpAdvancedDetectionResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DetectApi#detect_text_advanced\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
