=begin
#dlpapi

#Easily and directly scan and detect sensitive data (PII) in input text.

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.14

=end

require 'uri'

module CloudmersiveDlpApiClient
  class RedactApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Redact User Data in Document
    # Detects and redacts configurable types of user data in a document (PDF, DOCX, PNG, JPG) using Advanced AI. Rasterizes document pages, detects PII regions using a grid-overlay approach, blurs those regions, and returns a rasterized PDF.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpDocumentRedactionRequest] :body Input request
    # @return [DlpDocumentRedactionResponse]
    def redact_document(opts = {})
      data, _status_code, _headers = redact_document_with_http_info(opts)
      data
    end

    # Redact User Data in Document
    # Detects and redacts configurable types of user data in a document (PDF, DOCX, PNG, JPG) using Advanced AI. Rasterizes document pages, detects PII regions using a grid-overlay approach, blurs those regions, and returns a rasterized PDF.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpDocumentRedactionRequest] :body Input request
    # @return [Array<(DlpDocumentRedactionResponse, Fixnum, Hash)>] DlpDocumentRedactionResponse data, response status code and response headers
    def redact_document_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedactApi.redact_document ...'
      end
      # resource path
      local_var_path = '/dlp/redact/document'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DlpDocumentRedactionResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedactApi#redact_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Redact User Data in Document (Advanced)
    # Detects and redacts 35 configurable types of user data including health-related PHI in a document (PDF, DOCX, PNG, JPG) using Advanced AI. Rasterizes document pages, detects PII regions using a row-overlay approach, redacts those regions, and returns a rasterized PDF.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpAdvancedDocumentRedactionRequest] :body Input request
    # @return [DlpAdvancedDocumentRedactionResponse]
    def redact_document_advanced(opts = {})
      data, _status_code, _headers = redact_document_advanced_with_http_info(opts)
      data
    end

    # Redact User Data in Document (Advanced)
    # Detects and redacts 35 configurable types of user data including health-related PHI in a document (PDF, DOCX, PNG, JPG) using Advanced AI. Rasterizes document pages, detects PII regions using a row-overlay approach, redacts those regions, and returns a rasterized PDF.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpAdvancedDocumentRedactionRequest] :body Input request
    # @return [Array<(DlpAdvancedDocumentRedactionResponse, Fixnum, Hash)>] DlpAdvancedDocumentRedactionResponse data, response status code and response headers
    def redact_document_advanced_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedactApi.redact_document_advanced ...'
      end
      # resource path
      local_var_path = '/dlp/redact/document/advanced'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DlpAdvancedDocumentRedactionResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedactApi#redact_document_advanced\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Redact User Data in Input Text
    # Detects and redacts configurable types of user data in an input text string using Advanced AI. First detects PII, then redacts disallowed types by either deleting them or replacing them with asterisks.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpRedactionRequest] :body Input request
    # @return [DlpRedactionResponse]
    def redact_text(opts = {})
      data, _status_code, _headers = redact_text_with_http_info(opts)
      data
    end

    # Redact User Data in Input Text
    # Detects and redacts configurable types of user data in an input text string using Advanced AI. First detects PII, then redacts disallowed types by either deleting them or replacing them with asterisks.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpRedactionRequest] :body Input request
    # @return [Array<(DlpRedactionResponse, Fixnum, Hash)>] DlpRedactionResponse data, response status code and response headers
    def redact_text_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedactApi.redact_text ...'
      end
      # resource path
      local_var_path = '/dlp/redact/text'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DlpRedactionResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedactApi#redact_text\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Redact User Data in Input Text (Advanced)
    # Detects and redacts 34 configurable types of user data including health-related PHI in an input text string using Advanced AI. First detects PII, then redacts disallowed types by either deleting them or replacing them with asterisks.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpAdvancedRedactionRequest] :body Input request
    # @return [DlpAdvancedRedactionResponse]
    def redact_text_advanced(opts = {})
      data, _status_code, _headers = redact_text_advanced_with_http_info(opts)
      data
    end

    # Redact User Data in Input Text (Advanced)
    # Detects and redacts 34 configurable types of user data including health-related PHI in an input text string using Advanced AI. First detects PII, then redacts disallowed types by either deleting them or replacing them with asterisks.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpAdvancedRedactionRequest] :body Input request
    # @return [Array<(DlpAdvancedRedactionResponse, Fixnum, Hash)>] DlpAdvancedRedactionResponse data, response status code and response headers
    def redact_text_advanced_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedactApi.redact_text_advanced ...'
      end
      # resource path
      local_var_path = '/dlp/redact/text/advanced'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DlpAdvancedRedactionResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedactApi#redact_text_advanced\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
