=begin
#dlpapi

#Easily and directly scan and detect sensitive data (PII) in input text.

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.14

=end

require 'uri'

module CloudmersiveDlpApiClient
  class TasksBatchJobApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Detect User Data in Audio File (Advanced) as a Batch Job
    # Creates an async batch job for detecting user data in an audio file using Advanced detection.  Use the GetAsyncJobStatus API to check on the status of the job and retrieve the result when complete.  Transcribes an audio file (WAV, MP3, M4A, FLAC, OGG, WMA) and detects 29 configurable types of user data including health-related PHI in the transcript using Advanced AI. Returns the full transcript, token timestamps, detection results, and optional rationale.  Requires Managed Instance or Private Cloud deployment.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpAdvancedAudioDetectionRequest] :body Input request
    # @return [DlpBatchJobResult]
    def detect_audio_advanced_batch_job(opts = {})
      data, _status_code, _headers = detect_audio_advanced_batch_job_with_http_info(opts)
      data
    end

    # Detect User Data in Audio File (Advanced) as a Batch Job
    # Creates an async batch job for detecting user data in an audio file using Advanced detection.  Use the GetAsyncJobStatus API to check on the status of the job and retrieve the result when complete.  Transcribes an audio file (WAV, MP3, M4A, FLAC, OGG, WMA) and detects 29 configurable types of user data including health-related PHI in the transcript using Advanced AI. Returns the full transcript, token timestamps, detection results, and optional rationale.  Requires Managed Instance or Private Cloud deployment.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpAdvancedAudioDetectionRequest] :body Input request
    # @return [Array<(DlpBatchJobResult, Fixnum, Hash)>] DlpBatchJobResult data, response status code and response headers
    def detect_audio_advanced_batch_job_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksBatchJobApi.detect_audio_advanced_batch_job ...'
      end
      # resource path
      local_var_path = '/dlp/batch-job/detect/audio/advanced'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DlpBatchJobResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksBatchJobApi#detect_audio_advanced_batch_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Detect User Data in Audio File as a Batch Job
    # Creates an async batch job for detecting user data in an audio file.  Use the GetAsyncJobStatus API to check on the status of the job and retrieve the result when complete.  Transcribes an audio file (WAV, MP3, M4A, FLAC, OGG, WMA) and detects 23 configurable types of user data in the transcript using Advanced AI. Returns the full transcript, token timestamps, and detection results.  Requires Managed Instance or Private Cloud deployment.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpAudioDetectionRequest] :body Input request
    # @return [DlpBatchJobResult]
    def detect_audio_batch_job(opts = {})
      data, _status_code, _headers = detect_audio_batch_job_with_http_info(opts)
      data
    end

    # Detect User Data in Audio File as a Batch Job
    # Creates an async batch job for detecting user data in an audio file.  Use the GetAsyncJobStatus API to check on the status of the job and retrieve the result when complete.  Transcribes an audio file (WAV, MP3, M4A, FLAC, OGG, WMA) and detects 23 configurable types of user data in the transcript using Advanced AI. Returns the full transcript, token timestamps, and detection results.  Requires Managed Instance or Private Cloud deployment.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpAudioDetectionRequest] :body Input request
    # @return [Array<(DlpBatchJobResult, Fixnum, Hash)>] DlpBatchJobResult data, response status code and response headers
    def detect_audio_batch_job_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksBatchJobApi.detect_audio_batch_job ...'
      end
      # resource path
      local_var_path = '/dlp/batch-job/detect/audio'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DlpBatchJobResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksBatchJobApi#detect_audio_batch_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get the status and result of a DLP Batch Job
    # Returns the result of the Async Job - possible states can be STARTED or COMPLETED.  When COMPLETED, the corresponding result field (detection or redaction result) is populated on the response.  This API is only available for Cloudmersive Managed Instance and Private Cloud deployments.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :async_job_id Job ID for the batch job to get the status of
    # @return [DlpBatchJobStatusResult]
    def get_async_job_status(opts = {})
      data, _status_code, _headers = get_async_job_status_with_http_info(opts)
      data
    end

    # Get the status and result of a DLP Batch Job
    # Returns the result of the Async Job - possible states can be STARTED or COMPLETED.  When COMPLETED, the corresponding result field (detection or redaction result) is populated on the response.  This API is only available for Cloudmersive Managed Instance and Private Cloud deployments.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :async_job_id Job ID for the batch job to get the status of
    # @return [Array<(DlpBatchJobStatusResult, Fixnum, Hash)>] DlpBatchJobStatusResult data, response status code and response headers
    def get_async_job_status_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksBatchJobApi.get_async_job_status ...'
      end
      # resource path
      local_var_path = '/dlp/batch-job/status'

      # query parameters
      query_params = {}
      query_params[:'AsyncJobID'] = opts[:'async_job_id'] if !opts[:'async_job_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DlpBatchJobStatusResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksBatchJobApi#get_async_job_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Redact User Data in Audio File (Advanced) as a Batch Job
    # Creates an async batch job for redacting user data in an audio file using Advanced detection.  Use the GetAsyncJobStatus API to check on the status of the job and retrieve the redacted audio and transcript when complete.  Transcribes an audio file (WAV, MP3, M4A, FLAC, OGG, WMA), detects 34 configurable types of user data including health-related PHI in the transcript, and redacts audio segments containing PII. Returns the redacted audio, redacted transcript, detection results, redacted segment timestamps, and optional rationale.  Requires Managed Instance or Private Cloud deployment.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpAdvancedAudioRedactionRequest] :body Input request
    # @return [DlpBatchJobResult]
    def redact_audio_advanced_batch_job(opts = {})
      data, _status_code, _headers = redact_audio_advanced_batch_job_with_http_info(opts)
      data
    end

    # Redact User Data in Audio File (Advanced) as a Batch Job
    # Creates an async batch job for redacting user data in an audio file using Advanced detection.  Use the GetAsyncJobStatus API to check on the status of the job and retrieve the redacted audio and transcript when complete.  Transcribes an audio file (WAV, MP3, M4A, FLAC, OGG, WMA), detects 34 configurable types of user data including health-related PHI in the transcript, and redacts audio segments containing PII. Returns the redacted audio, redacted transcript, detection results, redacted segment timestamps, and optional rationale.  Requires Managed Instance or Private Cloud deployment.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpAdvancedAudioRedactionRequest] :body Input request
    # @return [Array<(DlpBatchJobResult, Fixnum, Hash)>] DlpBatchJobResult data, response status code and response headers
    def redact_audio_advanced_batch_job_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksBatchJobApi.redact_audio_advanced_batch_job ...'
      end
      # resource path
      local_var_path = '/dlp/batch-job/redact/audio/advanced'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DlpBatchJobResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksBatchJobApi#redact_audio_advanced_batch_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Redact User Data in Audio File as a Batch Job
    # Creates an async batch job for redacting user data in an audio file.  Use the GetAsyncJobStatus API to check on the status of the job and retrieve the redacted audio and transcript when complete.  Transcribes an audio file (WAV, MP3, M4A, FLAC, OGG, WMA), detects 23 configurable types of user data in the transcript, and redacts audio segments containing PII. Returns the redacted audio, redacted transcript, detection results, and redacted segment timestamps.  Requires Managed Instance or Private Cloud deployment.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpAudioRedactionRequest] :body Input request
    # @return [DlpBatchJobResult]
    def redact_audio_batch_job(opts = {})
      data, _status_code, _headers = redact_audio_batch_job_with_http_info(opts)
      data
    end

    # Redact User Data in Audio File as a Batch Job
    # Creates an async batch job for redacting user data in an audio file.  Use the GetAsyncJobStatus API to check on the status of the job and retrieve the redacted audio and transcript when complete.  Transcribes an audio file (WAV, MP3, M4A, FLAC, OGG, WMA), detects 23 configurable types of user data in the transcript, and redacts audio segments containing PII. Returns the redacted audio, redacted transcript, detection results, and redacted segment timestamps.  Requires Managed Instance or Private Cloud deployment.
    # @param [Hash] opts the optional parameters
    # @option opts [DlpAudioRedactionRequest] :body Input request
    # @return [Array<(DlpBatchJobResult, Fixnum, Hash)>] DlpBatchJobResult data, response status code and response headers
    def redact_audio_batch_job_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksBatchJobApi.redact_audio_batch_job ...'
      end
      # resource path
      local_var_path = '/dlp/batch-job/redact/audio'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DlpBatchJobResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksBatchJobApi#redact_audio_batch_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
